# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local

# database (datos personales — nunca compartir)
*.db
*.db-shm
*.db-wal

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
